.btn{
    width: 150px;
    height: 40px;
    background: linear-gradient(to top, rgb(0, 223, 45)  , rgb(0, 111, 37));
    border-radius: 10px;
    color: white;
}
.f_l{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.card{
    width: 400px;
    height: 500px;
    box-shadow: 5px 10px 15px grey;
}
.card:hover{
    transition: 1s;
    width: 400px;
    height: 500px;
    background-color: rgb(168, 168, 168);
}